.navbar button img {
  width: 100%;
  overflow: hidden;
  border-radius: inherit;
}

.navbar button {
  border-radius: 50px;
  width: 60px;
  height: 60px;
}

.navbar button:first-of-type {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  font-size: 20px;
}

#btn__coll {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #754ffe;
  font-size: 16px;
  padding-left: 8px;
}

.ball_not {
  width: 12px;
  height: 12px;
  border-radius: 50px;
  border: 2px solid white;
}

.jumbotron {
  background-color: #754ffe;
}

#icon_button {
  background-color: #754ffe !important;
}

#jumbo_bott_list .icon {
  background-color: rgb(243, 228, 207);
  border-radius: 50px;
  width: 60px;
  height: 60px;
  font-size: 20px;
}

.par_type_a {
  font-size: 18px;
  font-weight: bold;
}

.par_type_b {
  font-size: 16px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.3);
  /* color: lightgray; */
}

.list-group .list-group-item img{
  width: 100%;
  overflow: hidden;
  border-radius: 50px;
}

.list-group .list-group-item button{
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

.btn_user{
  border-radius: 50px;
  width: 60px;
  height: 60px;
}

.btn_user img {
  width: 100%;
  overflow: hidden;
  border-radius: inherit;
}

#exampleModal .modal-dialog{
position: absolute;
top: 5%;
right: 5%;
}

.price_not{
 font-size: 14px;
 color: rgba(0, 0, 0, 0.3);
}

.vote_br{
 color: rgba(0, 0, 0, 0.3);

 font-size: 14px;
}